<VirtualHost *:<%= instance_port %>>
  <Proxy *>
    Order Allow,Deny
    Allow from all
  </Proxy>
  ProxyPass <%= virtual_path %> http://localhost:<%= application_port %>/ retry=0
  ProxyPassReverse <%= virtual_path %> http://localhost:<%= application_port %>/
  ProxyPreserveHost on

  ErrorLog /var/log/httpd/elasticbeanstalk-error_log
</VirtualHost>